<div *ngIf="isEmptyCartFlag; else templateCart">
  Cart is Empty!
</div>

<ng-template #templateCart>
  <div>
    <ul>
      <li *ngFor='let product of cart;'>
        <span>{{product.productId}}</span>
        <span>{{product.productName}}</span>
        <span>{{product.productModel}}</span>
      </li>
    </ul>
  </div>
</ng-template>


<div class="cart">
    <input (input)="formModel=$event.target.value" type="text" name="Model" placeholder="Add Model">
    <input (input)="formVendor=$event.target.value" type="text" name="Vendor" placeholder="Add Vendor">
  
  <button (click)="onAddProduct();">Add Product</button>
</div>
<h2>Child-component</h2>
<div>
    <app-child-comp [userName]="this.name" [userAge]="this.age"></app-child-comp>
</div>
