

<div *ngIf="isEmptyCartFlag; else templateCart">
    Cart is Empty!
  </div>
  
  <ng-template #templateCart>
    <!-- <div>
      <ul>
        <li *ngFor='let product of cart.items'>
          <div>
          <span>{{product.productId}}</span>
          <span>{{product.productName}}</span>
          <span>{{product.productModel}}</span>
        </div>
        </li>
      </ul>
    </div> -->
    <div>Cart - AutoUpdate List</div>
    <div class="app">
      <app-cart [cartItems]="cart" (cartChange)="getCartItems();"></app-cart>
    </div>
  </ng-template>

  <!-- <div>
    <ul>
      <li *ngFor='let product of cart.items'>
        <div>
        <span>{{product.productId}}</span>
        <span>{{product.productName}}</span>
        <span>{{product.productModel}}</span>
      </div>
      </li>
    </ul>
  </div> -->



 
  